.DocsCardMain{
    background-image: url('../../assets/images/marketplacle\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 3%;
    height: 280px;
    padding-top: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.docMainHeading{
    font-weight: 600;
    padding-left: 3%;
    padding-top: 5%;
    font-size: 34px;
    line-height: 1.24;
    letter-spacing: .4px;
}
.docSubText{
    font-size: 20px;
    font-weight: 500;
    padding-left: 3%;
}

.docCaardTextOne{
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    padding-left: 2%;
}
.docCardTextTwo{
    color: #fff;
    font-weight: 400;
    padding-left: 3%;
    font-size: 16px;
}


/* --------------------------SideBar-------------------------------------------------------------- */


.dropdown {
    position: relative;
    /* top: 50px; */
    /* left: 45%; */
    margin-top: 15px;
    /* width: 300px; */
    height: 50px;
}

.dropdown::before {
    /* content: ""; */
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05); */
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .options {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #62baea;
    color: #fff;
}