.navList {
  display: block;
  transition-duration: 0.5s;
}

.navList:hover {
  cursor: pointer;
}

.navList ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 20;
  display: none;
}

ul .navList:hover > ul,
ul .navList ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul .navList ul .navList {
  clear: both;
  width: 100%;
}
