/* --------------------Section One-------------------- */
.blogSectionOnePic {
  width: 100%;
  border-radius: 10px;
}
.BlogCardTextsecOne {
  color: #16141a;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.BlogCardTextTwosecOne {
  color: #7d8499;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.BlogHeadText {
  font-size: 34px;
  line-height: 42px;
  font-weight: 500;
}
.BlogSubText {
  font-size: 17px;
  line-height: 26px;
}
/* ---------------------------------Section Two----------------------------------------------- */
.BlogSectionTwoCardMain {
  width: 365px;
}
.BlogHeadTextTwo {
  font-size: 20px;
  line-height: 42px;
  font-weight: 500;
}
/* -----------------------------Section Three---------------------------------- */
.BlogSectionThreeMain {
  background-position: calc(100% + 100px) 100%;
  background-image: url("../../assets/images/footer-bg-desktop.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 460px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f2f2f5;
}
.BlogInput {
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}
.BlogInput:focus {
  border: 0;
}
.BlogsubscribeBtn {
  background-color: #ff2d55;
  font-weight: 400;
  font-size: 15px;
  height: 44px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 250ms ease;
  padding: 10px;
  outline: none;
  border: 0;
  width: 100%;
  color: #fff;
}
.BlogSectionThreeIconsMain {
  border-right: 1px solid #16141a;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BlogSectionThreeIcons:hover {
  color: #ff2d55;
}
.BlogSectionThreeIcons {
  text-align: center;
  cursor: pointer;
  font-size: 40px;
}
.BlogSectionThreeIconsText {
  text-align: center;
}
.BolgNews{
  font-size: 32px;
  font-weight: 400;
}